@font-face {
    font-family: "Philly Sans"; 
    src: url("./philly_sans.woff") ;

}

html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #434B99;
    width: 100%;
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    left: 0;
    /* position: fixed; */
    color: white;
    z-index: 2;
}

.header h3 {
    margin-left: 30px;
    font-size: 2rem;
    font-family: "Philly Sans";
    text-shadow: 4px 4px black;
}

.header ul {
    align-self: center;
}

li {
    display: inline;
    vertical-align: baseline;
    font-family: 'Philly Sans';
    font-size: 20px;
    margin-right: 30px;

}

.navigation li a {
    color: white;
    text-decoration: none;
}

.navigation li a:hover {
    text-shadow: 4px 4px black;
}

@media only screen and (max-width: 850px) {
    ul {
        display: none;
    }
}


h1 {
    
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    
    font-style: italic;
    text-align: center;
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.66);
}

h3 {
    align-self: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
}

h4 {
    font-family: 'Open Sans';
    margin-right: 10%;
    margin-left: 10%;
    font-size: 20px;
}

h5 {
    font-family: 'Open Sans';
    font-size: 1rem;
}

.title {
    background-image: url(./images/wwhna-logo-row-orange.png);
    background-repeat: no-repeat;
    background-color: #EB5F0A;
    background-position: top;
    background-size: contain;
    width: 100%;
    height: 500px;
    padding-bottom: 3%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 5px gray;
  
}


.order-link {
    background: white;
    font-size: 22px;
    line-height: 22px;
    padding: 15px;
    margin-top: 26rem;
    border: white;
    font-family: 'Philly Sans';
    text-decoration: none;
    box-shadow: 10px 8px black;
}

.order-link a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .title {
        background-image:url(./images/wwhna-logo-square-orange.png);
        background-color: #EB5F0A;
        background-size: contain;
        padding-bottom: 25%;
    }
    .order-link{
        margin-top: 100%;
    }
  

}

/* Card examples  */

.about{}




.about-heading, h4,h3, .card-examples {
    opacity: 0;
    transition: opacity 1s, transform 1s; 
    transform: translateY(30px);  /* slide down by 30px initially; adjust as needed */
}

.about-heading{
    font-family: "Philly Sans";
    font-size: 4rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Activism,
.Science,
.Goddesses,
.Art {
    display: flex;
    justify-content: center;
    flex-flow: column;
}



.card-examples {
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-flow: row;
}
.card1-Activism,
.card1-Science,
.card1-Goddesses,
.card1-Art,
.card2-Activism,
.card2-Science,
.card2-Goddesses,
.card2-Art{
    z-index: 2;
    perspective: 1500px; 
    width: 300px; 
    height: 300px;
    position: relative;
    margin: 0 20px 20px 0; /* Added margin for spacing between cards */
    display: inline-block; 
}


.card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; 
    transition: transform 0.7s;
}

.back {
    transform: rotateY(180deg); 
}

.card1-Activism:hover .front,
.card1-Science:hover .front,
.card1-Goddesses:hover .front,
.card1-Art:hover .front{
    transform: rotateY(180deg); 
}

.card1-Activism:hover .back,
.card1-Science:hover .back,
.card1-Goddesses:hover .back,
.card1-Art:hover .back{
    transform: rotateY(360deg); 
}

.card2-Activism:hover .front,
.card2-Science:hover .front,
.card2-Goddesses:hover .front,
.card2-Art:hover .front {
    transform: rotateY(-180deg);
}

.card2-Activism:hover .back,
.card2-Science:hover .back,
.card2-Goddesses:hover .back,
.card2-Art:hover .back{
    transform: rotateY(360deg); 
}

.card-face img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
@media screen and (max-width: 850px) {
    .about-heading{
        font-size: 3rem;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 10%;
        margin-right: 10%;
        
    }

    .card-examples {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}

/*
.philosophy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    padding: 3rem;
}

.phil-text {
    width: 50%;
}

.philosophy img {
    width: 25%;
    margin-left: 20px;
    box-shadow: 0 0 5px gray;
}

@media only screen and (max-width: 1148px) and (min-width: 450px) {

    .phil-text {
        width: 50%;
        margin-left: 10px;
    }

    .philosophy img {
        width: 50%;
        margin-left: 10px;
        margin-right: 0px;
    }

}

.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    flex-direction: row-reverse;
    width: 100%;
    background-color: whitesmoke;
    padding: 3rem;
}

.mission-txt {
    width: 50%;
}

.mission img {
    width: 25%;
    margin-right: 20px;
    box-shadow: 0 0 5px gray;
}

@media only screen and (max-width: 1148px) and (min-width: 450px) {

    .mission-txt {
        width: 50%;
        margin-left: 10px;
    }

    .mission img {
        width: 50%;
    }

}

.classes-heading {
    margin-bottom: 0;
    font-size: 2.5rem;
}

.classes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5px;
}

.english-img {
    background-image: url(./img/English.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 50px;
    padding: 150px;
}

.english {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    box-shadow: 0 0 5px gray;
}

.reading-img {
    background-image: url(./img/reading.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    padding: 150px;
}

.reading {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    box-shadow: 0 0 5px gray;

}

.consulting {
    margin-top: 2rem;
    margin-right: 20px;
    box-shadow: 0 0 5px gray;
}

.consulting-img {
    background-image: url(./img/consulting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    padding: 150px;
}

.coding-img {
    background-image: url(./img/coding.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    padding: 150px;
}

.coding {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px gray;
}

.classes h5 {
    margin: 1rem 1rem;
}

.classes h3 {
    text-align: center;
}

.meet-Lurie {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 3rem;
}

.lurie-img {
    background-image: url(./img/lurie_headshots_2018-0003_Original.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    padding: 200px;
    margin: 20px;
    box-shadow: 0 0 5px gray;
}

.about {
    width: 40%;
}

@media only screen and (max-width: 1148px) and (min-width: 450px) {
    .meet-Lurie {
        display: flex;
        flex-direction: column;
    }

    .about {
        width: 75%;
    }
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    width: 100%;
    padding: 3rem;
    background-color: #325E99;
    background-size: cover;
    color: white
}

.contact a {
    width: 10%;
    color: #325E99;
    text-align: center;
    background: white;
    font-size: 22px;
    line-height: 22px;
    padding: 15px;
    border-radius: 7px;
    border: white;
    font-family: 'montserrat';
    text-decoration: none;
    box-shadow: 0 0 5px black;
}

.contact h3 {
    font-size: 1.5rem;
}

@media only screen and (max-width: 1148px) and (min-width: 450px) {
    .classes {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        align-content: center;
    }

    .coding {
        margin-right: 20px;
    }

    .contact a {
        width: 30%;
    }

    .contact h3 {
        text-align: center;
    }
} */